@charset "UTF-8";

/* Faz o body ocupar a altura total da viewport */
 body,html {
    height: 100%;
    display: flex;
    flex-direction: column;
    min-width: 520px;
    flex: 1;
    background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 23%, rgba(0,212,255,1) 100%);
    /* background-image: url(imagens/pexels-jessbaileydesign-1097930.jpg);  */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   
}
.pdf {
    height: 20px;
}
.page {
    /* background-color: rgba(255, 255, 255, 0.449); */
    border-radius: 2ic;
}
header{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);    
    /* padding: 10px 20px; */
    margin: 0px;
    border-radius: 10px;
    color: white;
    text-align: left;
    display: flex;
    align-items: center;
    border: 1px solid #0000ab4f;
}
header > div.intro {
    border-radius: 10px 10px 0 0;
    display: block;
    width: 400px;
    height: 100%;
    margin-right: 5px;
    margin-left: 10px;
    
}
header > div#foto{
    width: 200px;
}
header > div.intro img.foto{
    width: 180px;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid white;
    align-items: center;
    object-fit: cover;
    
}
footer {
    text-align: center;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 5%, rgba(0,212,255,1) 120%);
    font-weight: bold;
    font-size: 15.3px;
    margin: 0%;
    padding: 1em;
    border-radius: 2ic;
    box-shadow: inset 0px 0px 25px -5px rgba(0, 0, 0, 0.36);
    border: 1px solid rgba(255, 255, 255, 0.282);

} 
#linkca{
    color: white;
}
    /* Estilo dos Links*/
a { 
    color: black;
    text-decoration: none;
}
.tabs {
    display: flex;
    cursor: pointer;
    margin-bottom: 10px;
}

.tab {
    padding: 10px 20px;
    border: 1px solid #4da1d5;
    border-radius: 5px 5px 0 0;
    background-color: #0737a0e6;
    margin-right: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
}

.tab.active {
    background-color: #1172e8;
    border-bottom: 1px solid #0023d3;
}

/* Estilo para o conteúdo das abas */
.tab-content {
    display: none;
    padding: 20px;
    border: 3px solid rgba(0, 37, 245, 0.648);
    border-top: none;
    margin-bottom: 5px;
    border-radius: 2ic;
    
}

.tab-content.active {
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(255, 255, 255, 0.541);
}